body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #f0e68c; 
}

h1 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  color: #fff8dc; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  margin-bottom: 20px; 
}

.container {
  text-align: center;
}

.btn {
  padding: 30px 50px;
  background-color: #fffacd; 
  border: none;
  margin: 10px;
  font-size: 30px;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-image: url("images/tom.png");
  background-size: cover;
  color: #000; 
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-transform: capitalize;
  transition: background-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  color: #ff4f0f; /
}


.btn:active {
  background-size: 105%;
}
